.bg-gray-100 {
  background-color: #f7f7f7;
}

/* Sobre Nosotros */

/* Estilos para grandes pantallas */
@media (min-width: 1024px) {
  #sobre-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sobre-nosotros .lg:pr-8 {
    padding-right: 2rem;
  }

  #sobre-nosotros .lg:flex-1 {
    flex-basis: 50%;
  }
}

.card {
  cursor: pointer;
}

.banner-image {
  height: 80vh !important;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

h2 {
  font-size: 50px !important;
}

.catalogo-seccion {
  height: 400px;
}

.chevron-icono {
  opacity: 0.2;
  transition: opacity 230ms ease-in-out;
}

.chevron-icono:hover {
  opacity: 1;
  cursor: pointer;
}

.carta-personalizada:hover {
  cursor: pointer;
  opacity: 1 !important;

  .chevron-producto {
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
}

.chevron-producto {
  opacity: 0;
}

.producto-titulo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3b43;
}

.producto-precio {
  font-size: 22px;
  font-weight: 700;
  color: #2d545e;
}

/* .btn-header {
  color: white;
  text-decoration: none;
}

.btn-header:hover {
  color: white;
  transition: all 0.5s ease-in-out;
  text-decoration: underline;
} */

#catalogo .row {
  margin: 0;
}

.contenedor-categorias {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 750px;
}

.contenedor-categorias .carta-categorias {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.6s ease-in-out;
  border-radius: 15px;
}
.contenedor-categorias .carta-categorias:hover {
  height: 400px;
  cursor: pointer;
}

.contenedor-categorias .carta-categorias .image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.contenedor-categorias .carta-categorias .image img {
  max-width: 100%;
  border-radius: 15px;
}

.contenedor-categorias .carta-categorias .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: start;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.contenedor-categorias .carta-categorias:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
